<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=serverName%> | CCDash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/tw.css">
</head>
<body class="bg-neutral-200 dark:bg-zinc-900 dark:text-white" style="font-family: 'Noto Sans', sans-serif;">
    <nav class="w-full p-2 bg-[#00e4ce] text-xl flex items-center gap-4 text-white shadow">
        <a href="/" class="font-bold">CCDash</a>
        <span><%=serverName%></span>
    </nav>
    <div class="container mx-auto p-2">
        <div class="w-full p-6 bg-white dark:bg-zinc-800 rounded shadow mb-6">
            <h1 class="text-2xl sm:text-5xl md:text-8xl font-black text-center">Total cleared: <%= total%></h1>
        </div>
        <div class="w-full p-6 bg-white dark:bg-zinc-800 rounded shadow mb-6">
            <canvas id="clearChart" width="1920" height="540"></canvas>
        </div>
        <div class="w-full p-6 bg-white dark:bg-zinc-800 rounded shadow mb-6">
            <table class="w-full">
                <thead class="bg-black text-white dark:bg-zinc-900 text-xl">
                    <td class="px-2 py-1">Channel name</td>
                    <td class="px-2 py-1">Kill count</td>
                </thead>
                <tbody>
                    <tr class="bg-neutral-200 dark:bg-zinc-700">
                        <td class="px-2 py-1">1</td>
                        <td  class="px-2 py-1">2</td>
                    </tr>
                    <tr class="bg-neutral-300 dark:bg-zinc-900">
                        <td class="px-2 py-1">1</td>
                        <td  class="px-2 py-1">2</td>
                    </tr>
                    <tr class="bg-neutral-200 dark:bg-zinc-700">
                        <td class="px-2 py-1">1</td>
                        <td  class="px-2 py-1">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full p-6 bg-white dark:bg-zinc-800 rounded shadow mb-6">
            <%if(helpId){%><h1 class="text-xl sm:text-3xl md:text-5xl font-bold flex items-center justify-between flex-wrap mb-6">Help-ID: <span><%=helpId%></span></h1><%}%>
            <%if(shardId){%><h1 class="text-xl sm:text-3xl md:text-5xl font-bold flex items-center justify-between flex-wrap mb-6">Shard-ID: <span><%=shardId%></span></h1><%}%>
        </div>
    </div>
    <div class="bg-white dark:bg-zinc-800 shadow">
        <div class="container mx-auto p-2">
            <div class="w-full p-6">
                Want to look back further? <a href="https://jh220.de/cc/vote" class="text-[hsl(174,100%,25%)]">Vote for me!</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
    <script>
        <%
        const colors = {
            "/autoclear":"#A3E635",
            "/clear":"#1ea89d",
            "/clearall":"#E11D48"
        }

        function unix2Label(unix){
            const d = dateObject = new Date(unix*1000)
            return `${d.getDate()}.${d.getMonth()+1} ${d.getFullYear()}`
        }

        const startUnix = data.reduce((prev,curr)=>{return Math.min(prev,curr.unix)},100000000000000000000000000000)
        const endUnix = data.reduce((prev,curr)=>{return Math.max(prev,curr.unix)},0)
        const secondsInDay = 86400

        var labels = []
        for(let i = startUnix;i<endUnix;i+=secondsInDay){
            labels.push(unix2Label(i))
        }

        var datasets = {}

        for(value of data){
            datasets[value.cmd] = datasets[value.cmd] || {
                label: value.cmd,
                data: {},
                borderWidth: 2,
                fill: false,
                backgroundColor:colors[value.cmd]+'33',
                borderColor: colors[value.cmd],
                yAxisID: value.cmd=='/clearall'?'autoclearCount':'y'
            }

            datasets[value.cmd].data[unix2Label(value.unix)] = datasets[value.cmd].data[unix2Label(value.unix)]+ value.count || value.count
        }

        datasets = Object.values(datasets)
        %>
        const datasets = <%-JSON.stringify(datasets)%>
        const labels = <%-JSON.stringify(labels)%>

        const ctx = document.getElementById('clearChart').getContext('2d');
        const chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels,
            datasets
        },
        options:{
            responsive:true,
            maintainAspectRatio:true,
            aspectRatio: 2.5
        }
        });
    </script>
</body>
</html>